.container {
    background: linear-gradient(
        315deg,
        rgb(69, 75, 205) 0%,
        rgba(159, 161, 198, 0.4) 50%,
        rgba(223, 223, 228, 0.3) 100%
    );
    border-radius: 20px;
    width: 90%;
    height: 100%;
    text-align: center;
    margin: auto;
    padding: 100px 0 60px 0;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.4);
}

.title {
    color: var(--white);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 10px;
}

.text {
    font-size: 20px;
    margin-top: 10px;
}

.subtext {
    color: var(--white);
    font-size: 16px;
    margin-top: 10px;
}

.resetButton {
    background: var(--white);
    margin: 20px auto 0px auto;
    padding: 5px 40px;
    border: 0;
    color: var(--black);
    font-weight: 600;
}
