.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 35px 0 20px;
  background: transparent !important;
  z-index: 10;
}

.logoDiv {
  display: inline-flex;
  height: 64px;
  align-items: center;
  gap: 5px;
}

.logo {
  width: 80px;
  height: 80px;
}

.title {
  font-size: 1.7rem;
  font-weight: 600;
  color: #fff;
  margin: 0;
}

.headerRight {
  display: inline-flex;
  gap: 1rem;
}

@media (width < 1050px) {
  .header {
    padding: 10px 30px 0 0 !important;
  }
  .headerRight {
    gap: 0.5rem;
  }
}

@media (width < 550px) {
  .header {
    padding: 15px 30px 15px 5px !important;
  }
  .logo {
    min-width: 70px;
    width: 70px;
  }
}
